@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  font-size: 100%;
}

*, *::after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  padding: 0 32px !important;
}

nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.25rem;
  padding: 0 .7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

nav img {
  width: 13.5265rem;
  position: relative;
}

nav a {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #09b288;
  padding: 0.4375rem 2rem;
  border-radius: 1.5rem;
}

nav a:hover {
  background-color: #066b52;
}

@media screen and (min-width: 699px) {
  nav {
    height: 4.625rem;
  }
  nav img {
    width: 20.375rem;
  }
  nav a {
    padding: .65rem 2.75rem;
  }
}

.hero {
  margin-top: 3.25rem;
}

.hero__image {
  padding-top: 9.375rem;
  background: url("https://jobs-pegasi.uat.crowdstaffing.com/_nuxt/img/signup-banner.0385b17.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.hero__title {
  padding-top: 1.8rem;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 2.8125rem;
  color: #492e87;
}

.hero__info {
  padding: .75rem;
  margin: .75rem 0;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.6875rem;
  color: #484848;
}

@media screen and (min-width: 699px) {
  .hero {
    margin-top: 4.625rem;
  }
  .hero__image {
    padding-top: calc(100vw - 80%);
  }
  .hero__title {
    font-size: 2.375rem;
    line-height: 3.5625rem;
  }
  .hero__info {
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
}

@media screen and (min-width: 999px) {
  .hero__title {
    text-align: left;
    margin-left: 10%;
    width: 500px;
  }
  .hero__info {
    text-align: left;
    margin-left: 10%;
    width: 468px;
    padding: 0 !important;
  }
}

@media screen and (min-width: 1399px) {
  .hero__title {
    text-align: left;
    margin-left: 20%;
    width: 700px;
  }
  .hero__info {
    text-align: left;
    margin-left: 20%;
    width: 658px;
    padding: 0 !important;
  }
}

.signup-form {
  background-color: #ffffff;
  padding: .75rem 2rem 0 2rem;
}

.signup-form h3 {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  border-top: 1px solid #cbcbcb;
  color: #09b288;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.signup-form input {
  width: 100%;
  height: 2.1875rem;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  margin: 12px 0;
  padding: 5px 8px;
  color: #484848;
  font-size: .75rem;
  line-height: 18px;
}

.signup-form input[type=file] {
  margin-bottom: 24px;
}

.signup-form p {
  font-size: .6875rem;
  line-height: 1.03125rem;
  color: #484848;
  padding: 12px 0;
  border-top: 1px solid #cbcbcb;
}

.signup-form p a {
  color: #1b71c1;
  text-decoration: none;
}

.signup-form input[type=submit] {
  background-color: #09b288;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 1.5rem;
  height: 2.5rem;
  padding: .4375rem 2rem;
  margin-bottom: 2.75rem;
  outline: none;
}

.signup-form input[type=submit]:hover {
  background-color: #066b52;
}

.signup-form select {
  width: 100%;
  height: 2.1875rem;
  border: 1px solid #cbcbcb;
  background-color: #fff;
  color: #cbcbcb;
  border-radius: 5px;
  margin: 12px 0;
  padding: 5px 8px;
  color: #484848;
  font-size: .75rem;
  line-height: 18px;
}

.signup-form input.ng-invalid.ng-touched, .signup-form select.ng-invalid.ng-touched {
  border: 1px solid #ed1c24;
  box-shadow: 0 0 0 0.125em rgba(237, 28, 36, 0.25);
}

.signup-form input[disabled="disabled"] {
  opacity: .4;
  cursor: not-allowed !important;
}

@media screen and (min-width: 999px) {
  .signup-form {
    border-top: 8px solid #09b288;
    position: absolute;
    width: 300px;
    right: 13%;
    top: 23%;
    box-shadow: 0 0 30px 0 rgba(10, 10, 10, 0.1);
    padding: 0 1.5rem 0;
  }
  .signup-form h3 {
    font-size: 1.75rem;
  }
  .signup-form input[type=submit] {
    font-size: .75rem;
  }
}

@media screen and (min-width: 1399px) {
  .signup-form {
    width: 400px;
    top: 30%;
    right: 10%;
  }
  .signup-form input[type=submit] {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1599px) {
  .signup-form {
    width: 420px;
    top: 38%;
    right: 20%;
  }
}

.services h3 {
  font-size: .875rem;
  font-weight: 200;
  line-height: 1.3125rem;
  color: #484848;
  padding: 0 4rem;
  margin-bottom: 25px;
}

@media screen and (min-width: 699px) {
  .services {
    margin-left: 12%;
    margin-top: 2.2rem;
  }
  .services h3 {
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 348px;
  }
  .services h3:last-child {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1399px) {
  .services {
    margin-left: 22%;
    margin-top: 2.2rem;
  }
  .services h3 {
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 540px;
  }
}

.signup-images {
  background-color: #fafafa;
}

@media screen and (min-width: 999px) {
  .signup-images {
    padding: 2rem;
  }
}

.signup-images .container {
  padding: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.signup-images .container img {
  width: 100%;
  padding: 12px 10px;
}

@media screen and (min-width: 699px) {
  .signup-images .container {
    width: 515px;
    margin-left: 4%;
    padding-left: 0;
  }
}

@media screen and (min-width: 1399px) {
  .signup-images .container {
    width: 700px;
    margin-left: 18%;
    padding-left: 0;
    padding-right: 40px;
  }
}

.footer {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.footer img {
  width: 180px;
}

.footer a {
  text-decoration: none;
  padding: 1rem;
  color: #484848;
}

.footer a:hover {
  color: #858585;
}

@media screen and (min-width: 999px) {
  .footer {
    padding: 3rem 2rem;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
  }
  .footer a {
    font-size: .875rem;
    padding: 0;
  }
}

.footer-bottom {
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: center;
  padding: 2rem 0;
  margin: 0 2rem;
  border-top: 1px solid #858585;
}

.footer-bottom .fab {
  color: #492e87;
}

.footer-bottom .left a {
  padding-right: .6rem;
}

.footer-bottom .left a i {
  font-size: 1rem;
}

.footer-bottom .right {
  color: #484848;
  font-size: .8125rem;
  line-height: 1.21875rem;
  margin-left: auto;
}

@media screen and (min-width: 699px) {
  .footer-bottom .left a i {
    font-size: 1.1rem;
  }
  .footer-bottom .right {
    font-size: 1rem;
  }
}

@media screen and (min-width: 999px) {
  .footer-bottom .left a {
    padding-right: 1.5rem;
  }
  .footer-bottom .right {
    font-size: .8125rem;
  }
}
/*# sourceMappingURL=style.css.map */